[user]
	name = Tony Thomas
	email = thoma127@umn.edu
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[core]
	editor = vim
	mergeoptions = --no-edit
	excludesfile = /Users/thoma127/.gitignore_global

[merge]
	tool = vimdiff
    commit = no
	ff = false
[branch]
	autosetupmerge = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = truetone
[ghi]
	token = !security find-internet-password -a  -s github.com -l 'ghi token' -w
