[user]
	name = Tony Thomas
	email = thoma127@umn.edu
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[core]
	editor = vim

[merge]
	tool = vimdiff
[branch]
	autosetupmerge = true
