[user]
	name = Tony Thomas
	email = thoma127@umn.edu
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[core]
	editor = vim
	mergeoptions = --no-edit

[merge]
	tool = vimdiff
    commit = no
	ff = false
[branch]
	autosetupmerge = true
