[submodule "submodules/pathogen"]
	path = submodules/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "submodules/bufexplorer"]
	path = submodules/bufexplorer
	url = git://github.com/c9s/bufexplorer.git
[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "submodules/vim-css"]
	path = submodules/vim-css
	url = git://github.com/xenoterracide/css.vim.git
[submodule "submodules/vim-jinja"]
	path = submodules/vim-jinja
	url = git://github.com/rdunklau/Jinja.vim.git
[submodule "submodules/vim-lighttpd"]
	path = submodules/vim-lighttpd
	url = git://github.com/vim-scripts/lighttpd-syntax.git
[submodule "submodules/vim-markdown"]
	path = submodules/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
